- provide(:title, 'About Us')
%h1 Mastering the 500 most common SAT words has never been easier!
%p
  Vocabulator is a online application allowing you to practice the most common SAT words from the cloud.  After creating an account, you may log in from anywhere ad continue right where you left off!
%p
  Beyond that, Vocabulator is designed to maximize your learning in the shortest amount of time;
%ul
  %li We choose the most common words
  %li (coming soon) The library of words are divided into 'chunks'.  Once you have mastered enough of a chunk, we move onto the next section while remembering words you haven't quite mastered from previous chunks.
  %li We choose questions intelligently.  Our algorithms asure that you never waste time on a question you have mastered (except for special review sections)
  %li (coming soon) We crowd-source the most helpful user suggested example sentences, quotes and pop cultural references to help you associate words with real life examples.
