- provide(:title, 'Jacob Dankner')
%h1 About the developer
.span-17
  .span-10
    .view_jacob_image
      = image_tag 'jacob.jpg'
  .span-7.last
    %p
      Jacob Dankner is a Software Engineer at Signpost and maintains this site in his spare time.