- provide(:title, 'Dungeons and Dragons')
%h1 Dungeons and Dragons
%p
  Dungeons and Dragons Game
%p
  The players:
%ul
  %li Joe
  %li George
  %li Julian
  %li Marc
= image_tag 'http://img4.wikia.nocookie.net/__cb20140207192723/moon-guard/images/1/16/Dragon_fire2.jpg'

